body{
    margin:0;
}
*{box-sizing:border-box;}
.header{
    width: 100%;
    height:200px;
    margin:0 auto;
    background-color:#fff;
    position:fixed;
    z-index:1;
    border-top:1px solid grey;
    border-bottom:1px solid grey;
}
.headBox1{
    width:1200px;
    height:100px;
    margin:0 auto;
    padding:40px;
}
.headBox2{
    width:1200px;
    height:100px;
    margin:0 auto;
    padding:25px 0px 0px 0px;;
}
.selectPrice{
    width:110px;
    padding:10px;
    border-radius:20px;
    border:1px solid #ddd;
}
.selectPlace{
    width:110px;
    padding:10px;
    border-radius:20px;
    border:1px solid #ddd;
}

.headBox2 ul{
    list-style-type:none;
}
.inputStyle{
    width:auto;
    padding:10px;
    border-radius:10px;
    border:2px solid #ddd;
    cursor: pointer;
    background-color:#fff;
}
.headBox2 ul li{
    display:inline;
    padding:10px 10px 10px 0px;
}
.borderBlack{
    border-color:black;
}
/* .content of imagegallery */
.content{
    width:100%;
    height:100%;
    position:relative;
    bottom:0;
    top:200px;
    z-index:0;
}
.hotelWrapper{
    width:1200px;
    margin:0 auto;
    padding:15px;

}
.carouselBox{
    width:300px;
    height:200px;
}

.info{
    width:300px;
    margin-top:15px;
    color:#000;
    cursor: pointer;
}
.carousel-info-box{
    width:350px;
    height:auto;
    display:inline-block;
    margin-top:5px;
    padding:25px;
}
.carousel-info-box:hover{
    background-color:#f1f1f1;
    border-radius:10px;
}

/* style for header of hotelDetails.html file*/
.detailsHeader{
    width: 100%;
    height:100px;
    background-color:#fff;
    z-index:1;
    border-top:1px solid grey;
    border-bottom:1px solid grey;
    position:relative;
}
.centerHeader{
    width:1200px;
    margin:0 auto;
    padding:5px;
}

/* style for body of hotelDetails.html file*/
.detailsContent{
    width:1100px;
    height:100%;

    margin:0 auto;
    padding:15px;
    position:relative;
}


.imageCenter{
    width:100%;
    height:auto;
    position:relative;

}
.imageCenter p{
    font-size:25px;
}
.imageCenter p span{font-size:15px;}
/* style for the images displayed in hotelDetails.html file*/
.imageHead{
    width:500px;
    height:350px;
    position:absolute;
}
.imageChild1{
    width:250px;
    height:auto;
    position:absolute;
    left:535px;
    right:0px;
}
.imageChild2{
    width:250px;
    height:auto;
    position:absolute;
    left:535px;
    right:0px;
    top:255px;
}
.imageChild3{
    width:250px;
    height:auto;
    position:absolute;
    left:820px;
    right:0px;
}
.imageChild4{
    width:250px;
    height:auto;
    position:absolute;
    left:820px;
    right:0px;
    top:255px;
}

/* info of hotel / ameneties*/

.allinfoBox{
    border-bottom:1px solid grey;
    position:relative;
    bottom:0;
    top:362px;
}
.hotelInfo1{
    width: 60%;
    padding:35px 0px 35px 0px;
    position:relative;
    bottom:0;
    border-bottom:1px solid grey;
}
.hotelInfo1 p b{font-size:20px;}
.hotelInfo1 .profLogo{
    width:60px;
    height:60px;
    position:absolute;
    border-radius:100%;
    right:1px;


}
.hotelInfo2{
    width: 60%;
    position:relative;
    bottom:0;
    border-bottom:1px solid grey;
    padding:35px 0px 35px 0px;
    font-weight:bold;
}
.hotelInfo2-details{padding:0px 0px 0px 15px;font-weight:normal}
.hotelInfo3{
    width: 60%;
    position:relative;
    bottom:0;
    border-bottom:1px solid grey;
    padding:35px 0px 35px 0px;
    overflow: auto;
}
.hotelInfo4{
    width: 60%;
    height:auto;
    position:relative;
    bottom:0;
    border-bottom:1px solid grey;
    padding:35px 0px 35px 0px;
}
.hotelInfo4 p b{font-size:20px;}
.hotelInfo5{
    width: 60%;
    height:auto;
    position:relative;
    bottom:0;
    padding:25px 0px 25px 0px;
}
.hotelInfo5 p b{font-size:20px;}
.hotelInfo5 .checkDate tr td p{
    text-align:center;
}
.hotelInfo5 table{margin-bottom:5px;}
.hotelInfo5 .checkDate tr td{
    width:300px;
    height:100px;
    text-align:center;
    border:1px solid grey;
}
.showallamenetiesStyle{
    width:200px;
    padding:15px;
    border-radius:15px;
    border-color:black;
    background-color:#fff;
}
.showallamenetiesStyle:hover{
    color:blue;
    text-decoration:underline;
}
.hotelInfo p{font-size:25px;}
.offerLeft{
    width:300px;
    float:left;
}

/* reserve box right */
.reserveBox{
    width: 35%;
    height:auto;
    position:relative;
    top:-680px;
    left:65%;
    padding:15px;
    border:1px solid #ddd;
    border-radius:10px;
    box-shadow: 5px 10px 18px #888888;
}
.reserveBox .checkDate tr td p{
    padding:15px;
}
.reserveBox .checkDate tr td{
    width:300px;
    height:100px;
    border:1px solid grey;
}
.reserveBox .checkDate tr td b{
    padding:10px 5px 5px 15px;
}
.reserveBox .buttonReserve{
    width:100%;
    padding:5px;
    margin-top:10px;
    border-radius:10px;
    background-color:#000;
    border:1px solid #000;
    color:#fff;
    font-size:30px;
}
.resPrice tr td{
    width:300px;
}
.resPrice tr td:nth-child(even){text-align:right;}

/* for reviews section */
.reviewSection{
    width:100%;
    position:relative;
    bottom:50px;
    padding:5px 0px 45px 0px;
    border-bottom:1px solid grey;
}
.reviewSection .profile{
    height:100px;

    padding:10px 0px 0px 0px;
}
.reviewSection span{
    font-size:20px;
}
.reviewSection span b{
    font-family:arial;
}
.profile img{
    width:80px;
    height:80px;
    border-radius:100%;
    float:left;
    margin: 0px 10px 0px 0px;
}

div.profileCommentBox{
    margin: 5px;
    width:49%;
    float:left;
    height:150px;
    overflow: auto;
    position:relative;
    bottom:0;
}
.buttonreviewStyle{
    width:200px;
    padding:15px;
    border-radius:15px;
    border-color:black;
    background-color:#fff;
}
.buttonreviewStyle:hover{
    color:blue;
    text-decoration:underline;
}


/* for the google map */
.gmap{
    width:100%;
    position:relative;
    bottom:0;
    border-bottom:1px solid grey;
    padding:0px 0px 40px 0px;
}
.gmap p b{font-size:20px;}
.gmap p{
    padding:10px 0px 0px 0px;
}


.hostProfile{
    width:100%;
    height:auto;
    position:relative;
    padding:40px 0px 40px 0px;
    border-bottom:1px solid grey;
}
.hostProfile img{
    width:70px;
    height:70px;
    border-radius:100%;
    float:left;
    margin: 0px 10px 0px 0px;
}
.hostProfile .hostName{
    font-size:20px;
    font-weight:bold;
}

.hostProfile .hostInfo1{
    width:50%;
    float:left;
    position:relative;
    bottom:0;
    padding:15px 0px 0px 0px;
}
.contacthostButton{
    width:150px;
    padding:10px;
    border-radius:15px;
    border-color:#000;
    font-weight:bold;
}
.contacthostButton:hover{
    background-color:#ddd;
}
.thingstoknow{
    padding:35px 0px 0px 0px;
    font-weight:100;
}
.col-Know{
    width:33.33%;
    float:left;
    padding:15px 0px 25px 0px;
}
.col-Know ul li{
    padding:5px;

}
.footer1{
    background-color:#ddd;
    border-top:1px solid grey;
    border-bottom:1px solid grey;
    position:relative;
    padding:15px 0px 50px 0px;
}

.cityOption{
    width:1100px;
    margin:0 auto;
    padding:15px 0px 0px 0px;

}
.col-cityOption{
    width:25%;
    float:left;
    padding:5px 0px 5px 0px;
}

.footer2{
    background-color:#ddd;
    position:relative;
    padding:35px 0px 40px 0px;
}
.footer2-info{
    width:1100px;
    margin:0 auto;
    position:relative;
    padding :15px 0px 15px 0px;
    border-bottom:1px solid grey;
}
.col-footer2{
    width:24.5%;
    display:inline-block;
}
.col-footer2 p b{font-size:20px;}
.col-footer2 a{
    display:block;
    padding:5px 0px 0px 0px;
    cursor: pointer;
}


.footer3{
    width:100%;
    background-color:#ddd;
    position:relative;
    padding:0px 0px 25px 0px;
}
.footer-dreamhome{
    width:1100px;
    margin:0 auto;
    position:relative;
    padding :0px 0px 25px 0px;
}

.footer-dreamhome ul li{
    display:inline-block;
}
.footer3-left{
    float:left;
    margin-left:-40px;
}
.footer3-right{
    float:right;
}
.reservebutton-hidden{
    width:100%;
    background-color:#fff;
    position:fixed;
    bottom:0;
    padding:15px 15px 15px 0px;
    display:none;
    z-index:4;
}
.reservebutton-hidden button{
    width:100px;
    padding:15px;
    border-radius:15px;
    border-color:black;
    background-color:black;
    float:left;
    margin:0px 15px 0px 15px;
    color:#fff;
}
/* make the anchor color black */
.col-footer2 a, .cityOption a, .footer-dreamhome a{color:#000;}
.col-footer2 a:hover, .cityOption a:hover, .footer-dreamhome a:hover{color:black;}
p{font-family: Arial, Helvetica, sans-serif;}




.selectFilter{
    width:80px;
    padding:10px;
    border-radius:20px;
    border:1px solid #ddd;
    display:none;
    background-color:#fff;
}

.item img{
    width:300px;
    height:auto;
}



/* filter */
.divFilter{
    width:100%;
    height:99%;
    background-color:#ddd;
    display:none;
    padding:15px 25px 25px 15px;
    font-size:20px;
    position:fixed;
    bottom:0;
    z-index:2;
    overflow:auto;
    border-radius:15px 15px 0px 0px;
}
.divFilter::-webkit-scrollbar {
        width: 1px;

}

.divFilter .filter{
    display:block;
    width:100%;
    float:left;
    text-align:left;
}

.filter input{
    float:right;
}
.filterBox{
    width:100%;
    height:100%;
    z-index:3;
}

















/* showPayment sa hoteldetails.blade.php */

.showPayment{
    width:100%;
    background-color:#ddd;
    display:none;
    height:100%;
    font-size:20px;
    position:fixed;
    top:0;
    z-index:2;
}
.showpayment-content{
    padding:15px;
}
.in-out-table tr td{
    border:1px solid #000;
    text-align:center;
    width:50%;
    padding:40px;
}

.showpayment-reserveButton{
    width:100%;
    position:absolute;
    bottom:0;
    background-color:#000;
    padding:15px;
    font-size:30px;
    color:#fff;
}
.showpayment-resPrice tr td{
    width:300px;
    padding:5px;
}
.showpayment-resPrice tr td:nth-child(even){text-align:right;}
.showpayment-resPrice{
    margin-top:40px;
}
.showpayment-closebutton{
    margin-bottom:15px;
    background-color:black;
    width:100px;
    border:1px solid #000;
    color:#fff;
    padding:10px;
    border-radius:15px;
}




/* searchbar-header */
.logo-header{
    width:200px;
    padding:15px;
    font-weight:bold;
}
.searchbar-header{
    width:700px;
    border:1px solid #ddd;

    margin:0 auto;
    padding:15px;
    position:relative;
    bottom:50px;
    border-radius:35px;
    box-shadow: 1px 1px 3px #888888;
}
.searchbar-header .inputlocation{
    border-width:0px;
    width:150px;
}
.searchbar-header .inputdate{
    border-width:0px;
    width:100px;
}
.searchbar-header .inputguest{
    border-width:0px;
    width:100px;
    overflow:hidden;
}



/* header-hoteldetails */
.headBox-hoteldetails{
    width:1100px;
    height:100px;
    margin:0 auto;
    padding:20px 0px 20px 0px;
}
.logo-header-hoteldetails{
    width:200px;
    padding:15px;
    font-weight:bold;

}
.searchbar-header-hoteldetails{
    width:700px;
    border:1px solid #ddd;

    margin:0 auto;
    padding:15px;
    position:relative;
    bottom:50px;
    border-radius:35px;
    box-shadow: 1px 1px 3px #888888;
}
.inputlocation-hoteldetails{
    border-width:0px;
    width:150px;
}
.inputdate-hoteldetails{
    border-width:0px;
    width:100px;
    cursor:pointer;
}
.inputguest-hoteldetails{
    border-width:0px;
    width:150px;
    cursor:pointer;
}




/* select image in hoteldetails */
.imageCenter [class*="image"] {
    cursor: pointer;;
  }
.imageCell-whole{
    width:100%;
    height:100%;
    background-color:#fff;
    display:none;
    padding:15px 25px 25px 15px;
    font-size:20px;
    position:fixed;
    bottom:0;
    z-index:2;
    overflow:auto;

}
.imageCell-each{
    width:100%;
    height:100%;
    margin:0 auto;
}
.imageCell-each img{
    width:580px;
    height:auto;
    float:left;
    padding:5px;
}
@media (max-width: 1200px) {
    .imageCell-each img{
      width:50%;
    }
} /* just for the responsiveness of imageCell-whole --only */



/* close button "x" */
.closebutton{
    cursor:pointer;
    font-size: 28px;
    font-weight: bold;
}
.closebutton:hover{
    color:red;
}


/* show all ameneties toggle*/
.showAmeneties-box{
    width:600px;
    height:90%;
    background-color:#ddd;
    display:none;
    font-size:20px;
    position:fixed;
    bottom:5%;
    right:0;
    left:0;
    margin:0 auto;
    z-index:2;
    border-radius:15px 15px 15px 15px;
}

.amenetiestitle-box{
    width:600px;
    height:5%;
	color:#fff;
	position: fixed;
    background-color:black;
    border-radius:15px 15px 0px 0px;
    z-index:2;
    border:1px solid #000;
    padding:0px 0px 0px 0px;
}
.amenetiestitle-box span{
    float:right;
    padding:0px 15px 0px 0px;
}
.amenetiestitle-box b{
    float:left;
    padding:5px 0px 0px 15px;
}



.showameneties-item-box{
    width:100%;
    height:95%;
    position:relative;
    top:30px;
    padding:15px 0px 5px 15px;
    overflow-y:scroll;
    overflow-x:hidden;

}
.showameneties-item-box ul li{
    list-style-type: none;
    margin-left:0;
}
.showameneties-item-box ul{
    width:570px;
    border-bottom:1px solid #000;
}

.disableBody{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(128,128,128,0.5);
    display: none;
    z-index:1;
}




/*show all review box */

.showReview-box{
    width:600px;
    height:90%;
    background-color:#f1f1f1;
    display:none;
    font-size:20px;
    position:fixed;
    bottom:5%;
    right:0;
    left:0;
    margin:0 auto;
    z-index:2;
    border-radius:15px 15px 15px 15px;
}

.reviewtitle-box{
    width:600px;
    height:50px;
	color:#fff;
	position: fixed;
    background-color:black;
    border-radius:15px 15px 0px 0px;
    z-index:2;
    border:1px solid #000;
}


.searchReview{
    padding:15px;
}

.searchboxReview{
    height:40px;
    border:1px solid grey;
    width:400px;
    float:left;
}
.sortreview-button{
    height:40px;
    width:40px;
    border:1px solid grey;
}

.closebutton-reviews{
    float:right;
    font-weight:bold;
    font-size:30px;
    cursor:pointer;
    padding:0px 15px 0px 0px;
}


.allReviews{
    width: 100%;
    height:650px;
    background-color:#f1f1f1;
    position:relative;
    top:50px;
    padding:15px;
    overflow: scroll;
    overflow-x:hidden;
}
.allreviews-each{
    margin: 5px;
    width:100%;
    float:left;
    position:relative;
    bottom:0;
    border-bottom:1px solid #000;
}
.each-imagebox{
    width:200px;
    height:100px;
    margin-right:5px;
}

.each-imagebox img{
    width:100px;
    height:100px;
    border-radius:100%;
    float:left;
    margin-right:15px;
}
.allreviews-each .comment p{
    font-size:15px;
}
.review-container{
    background-color:#f1f1f1;
    display:inline-block;
}




/* add guest */
.addguest{
    width:92%;
    height:250px;
    background-color:#d1d1d1;
    position:absolute;
    padding:15px;
    display:none;
    border-radius:5px;
    margin-top:2px;
}

.addguest tr td{
    width:200px;
}

.qtybutton{
    width:30px;
    height:30px;
    font-size:20px;
    font-weight: bold;
    background-color:#fff;
    border:1px solid #000;
    border-radius:100%;
}
.addguestheader{
    width:300px;
    height:250px;
    background-color:#d1d1d1;
    position:absolute;
    left:300px;
    padding:15px;
    display:none;
    border-radius:5px;
    margin-top:2px;
}

.addguestheader tr td{
    width:200px;
}
.addguestheader{
    width:300px;
    height:250px;
    background-color:#d1d1d1;
    position:absolute;
    left:300px;
    padding:15px;
    display:none;
    border-radius:5px;
    margin-top:2px;
}

.addguestmobile tr td{
    width:200px;
}
.addguestmobile{
    width:95%;
    height:300px;
    background-color:#d1d1d1;
    position:absolute;

    padding:15px;
    display:none;
    border-radius:5px;
    margin-top:2px;
}

.addguestheader tr td{
    width:200px;
}
.addguest-closebutton{
    float:right;
    background-color:#000;
    color:#fff;
    border:1px solid #000;
}






.addguestheader-imagegallery tr td{
    width:200px;
}
.addguestheader-imagegallery{
    width:300px;
    height:250px;
    background-color:#d1d1d1;
    position:absolute;
    left:650px;
    top:100px;
    padding:15px;
    display:none;
    border-radius:5px;
    margin-top:2px;
}
.inputguest-imagegallery{
    cursor: pointer;
}


/* search button */
.searchButton{
    float:right;
    width:40px;
    height:40px;
    margin-top:-9px;
    border-radius:100%;
    border:1px solid red;
    background-color:red;
    color:#fff;
}


















hr{height: 1px;
    background-color: red;
    border: none;}

/* for responsivenes of hoteldetails.blade.php*/
@media (max-width: 700px) {
    .centerHeader, .detailsContent{
      width:100%;
    }
    .reserveBox{
        position:relative;
        float:none;
        bottom:0;
        left:0;
        top:4500px;
        width:100%;
        display:none;
    }
    div.profileCommentBox{
        margin: 5px 0px 5px 0px;
        width:100%;
        float:left;
        height:200px;
    }
    .hostProfile .hostInfo1{
        width:100%;
        position:relative;
        bottom:0;
        padding:15px 0px 10px 0px;
    }
    .cityOption{
        width:100%;
        margin:0 auto;
        padding:15px 0px 0px 0px;
    }
    .col-cityOption{
        width:50%;
        float:left;
    }
    .footer1{
        width:100%;
        height:auto;
        position:relative;
        bottom:0;
        top:362px;
        padding:15px 0px 40px 15px;
        border-bottom:1px solid grey;
    }
    .footer2{
        width:100%;
        height:auto;
        position:relative;
        bottom:0;
        top:362px;
        padding:15px 0px 0px 0px;
        border-bottom:1px solid grey;
    }
    .footer2-info{
        width:100%;
    }
    .footer-dreamhome{
        width:100%;
        padding :15px 0px 35px 0px;
    }
    .footer3-right{
        float:left;
        margin-left:-40px;
    }
    .reviewSection{
        width:100%;
        position:relative;
        bottom:0;
        top:362px;
        padding:40px 0px 40px 0px;
        border-bottom:1px solid grey;
    }

    .hostProfile{
        width:100%;
        height:auto;
        position:relative;
        bottom:0;
        top:362px;
        padding:40px 0px 40px 0px;
        border-bottom:1px solid grey;

    }
    .thingstoknow{
        width:100%;
        height:auto;
        position:relative;
        bottom:0;
        top:362px;
        padding:15px 0px 0px 0px;
    }
    .reservebutton-hidden{
        display:block;

    }
    .footer3{
        width:100%;
        height:200px;
        background-color:#ddd;
        position:relative;
        bottom:0;
        top:362px;
        padding:0px 0px 25px 0px;
    }
    .logo-header{
        display:none;
    }
    .searchbar-header{
        width:100%;
        margin-top:50px;
    }
    .headBox1{
        width:100%;
    }
    .logo-header-hoteldetails{
        display:none;
    }
    .searchbar-header-hoteldetails{
        width:100%;
        margin-top:50px;
    }
    .inputlocation-hoteldetails{
        width:60px;
    }
    .inputguest-hoteldetails{
        width:200px;
        font-size:8px;
    }
    .inputguest-hoteldetails span{
        font-size:12px;
    }
    .headBox-hoteldetails{
        width:100%;
    }
    .imageCell-each img{
        width:100%;
        height:auto;
    }
    .showAmeneties-box{
        width:100%;
        height:80%;
        bottom:15%;
    }.amenetiestitle-box{
        width:100%;
    }
    .showReview-box{width:100%;z-index:5;height:80%;bottom:15%}
    .reviewtitle-box{width:100%;}
    .searchboxReview{width:300px;}
    .allReviews{height:70%;}
    .addguestheader{
        left:150px;
    }
    .inputdate-hoteldetails{
        width:80px;
    }
    .hotelWrapper{
        width:100%;
        padding:0px;
    }
    .carousel-info-box{
        width:100%;
    }
    .carouselBox{
        width:100%;
    }
    .info{
        width:100%;
        margin-top:100px;
    }
    .carousel-info-box:hover{
        background-color:#f1f1f1;

    }
  }
  @media (max-width: 700px) {
    [class*="image"] {
        width:100%;
      }
      [class*="imageChild"] {
        display:none;
      }
      [class*="hotelInfo"] {
        width:100%;
      }
      [class*="col-Know"] {
        width:100%;
      }
      [class*="col-footer2"] {
        width:100%;
      }
  }

/* errorrrrrrr */




/*for responsiveness of imagegallery.blade.php */
@media (max-width: 700px){
    .selectFilter{
        width:80px;
        padding:10px;
        border-radius:20px;
        border:1px solid #ddd;
        display:inline-block;
        margin:0 auto;
    }
    .headBox2{
        width:100%;text-align:center;
    }

    .content{
        width:100%;
    }
    .item img{
        width:100%;
    }
    .container1{
        width:100%;
        height:550px;
    }
    .searchbar-header{
        width:100%;
    }
    .searchbar-header .inputlocation{
        border-width:0px;
        width:50px;
    }
    .searchbar-header .inputdate{
        border-width:0px;
        width:50px;
    }
    .addguestheader-imagegallery{
        left:0;
    }
    .searchbar-header b:not(first-child){
        font-size:10px;
    }


}





@media (max-width: 700px){
    [class*="inputStyle"] {
        display:none;
      }
      [class*="selectP"] {
        margin:0 auto;
      }
      [class*="slide"] {
        width:100%;
      }


}

